@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Krona+One&display=swap");

body {
    background-color: #f3f3f5;
}

header {
    background-color: black;
    height: 450px;
}

header span {
    color: #fff;
}

header .menu-bar {
    display: flex;
    justify-content: flex-start;
}

.logo {
    width: 50%;
    
}

.lines {
    width: 35%;
    margin-top: 15px;
}

.line {
    background-color: #fff;
    width:50px;
    height: 2px;
    margin-top: 5px;
}

.register-btn {
    border: 1px solid #fff;
    width: 74px;
    height: 29px;
    color: #fff;
    border-radius: 22px;
    margin-top: 12px;
    font-size: 14px;
    font-family: Archivo, sans-serif;
    padding: 0;
}

.register-btn:hover {
    background-color: #fff;
    color: #000;
}

header .menu-bar .logo span {
    font-size: 32px;
    font-weight: 500;
}

header .menu-bar .logo p {
    color: #fff;
    font-size: 8px;
    transform: translateX(10px);
}

.banner {
    margin-top: 100px;
}

.banner span {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 17px;
    color: #ffffff;
    font-weight: 300;
    font-family: Archivo, sans-serif;
}

.our-blog {
    font-size: 115px;
    letter-spacing: -5px;
    line-height: 222px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Krona One", sans-serif;
}

.blog-txt {
    display: flex;
    align-items: center;
}

.blog-txt p {
    width: 450px;
    margin-left: 41px;
    padding: 20px;
    font-size: 21px;
    font-family: "Archivo", sans-serif;
    color: #818181 !important;
    transform: translateY(70px);
}

.date {
    background: #000;
    padding: 12px;
    color: #fff;
    width: 120px;
}

.date h4 {
    font-size: 14px;
    font-weight: bold;
    font-family: Archivo, sans-serif;
    text-align: center;
    /* padding: 0; */
    margin: 0;
}

.img img {
    margin: 15px 0;
    box-shadow: 3px 4px 9px 1px #ddd;
    width: 80%;
}


.footer {
    width: 80%;
}

.footer i {
    font-size: 25px;
}

.title {
    margin-bottom:15px;
    width: 70%;
}

.title h4 {
    font-size: 31px;
    font-family: Archivo, sans-serif;
    font-weight: bold;
}

.footer span {
    color: #707070;
    font-size: 15px;
    font-family: Archivo, sans-serif;
    font-weight: 500;
}

section hr {
    margin-top: 70px;
    border: 1px solid #dcdedf;
}

.f-hr {
    margin-top: 70px;
    border: 1px solid #dcdedf;
}

.f-copyright {
    font-size: 19px;
    letter-spacing: 0px;
    color: #858585;
    font-weight: 400;
    text-align: center;
    font-family: Archivo;
}

.f-one {
    width: 50%;
}

.f-one-p {
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #6d6d6d;
    font-weight: 500;
    font-family: "Archivo", sans-serif;
}

.f-social .fcb {
    border: 2px solid #dcdedf;
    border-radius: 50%;
    width: 66px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-social .fcb i {
    font-size: 25px;
}

.f-social {
    display: flex;
    margin-top: 20px;
}

.f-content {
    display: flex;
}

.f-links {
    margin-top: 100px;
}

.f-links ul li {
    list-style-type: none;   
    margin: 10px 0;
    font-weight: 500;
    font-family: Archivo, sans-serif;
    font-size: 23px;
}

.f-contact {
    display: flex;
}

.f-contact .mail {
    margin-left: 30px;
}

.f-contact .mail span {
    font-size: 20px;
    color: #6d6d6d;
}
.f-contact .phone span {
    font-size: 20px;
    color: #6d6d6d;
}


.f-social .inst {
    margin: 0 20px;
}

.pagination .page-number  {
    width: 42px;
    height: 39px;
    border: 2px solid #7e7e7e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 20px;
    color: #7e7e7e;
    font-weight: 500;
    font-family: Archivo;
    margin: 0 5px;
}

.pagination {
    margin-top: 60px;
}

.pagination .page-number:hover {
    background-color: #000000;
    cursor: pointer;
}

.section-one-detail {
    width: 100%;
}

.blog-txt-detail {
    font-size: 30px;
    line-height: 54px;
    color: #000000;
    font-weight: 400;
    font-family: Archivo;
}

.title-detail {
    display: flex;
}

.title-detail i {
    font-size: 28px;
}

.title-detail h4 {
    font-size: 48px;
    line-height: 54px;
    color: #000000;
    font-weight: 700;
    font-family: Archivo;
    width: 50%;
}

.last-section {
    position: relative;
}

.last-section .scroll {
    position: absolute;
    width: 58px;
    height: 58px;
    border-radius: 4px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 180px;
    bottom: -20px;
}
.last-section .scroll:hover {
    cursor: pointer;
}
.last-section .scroll i {
    color: #fff;
}

@media (max-width:768px) {
    .blog-txt p {
        display: none;
    }
    .menu-bar {
        display: flex;
        flex-direction: column;
    }
    .f-content {
        display: flex;
        flex-direction: column;
    }

    .f-one-p {
        width: 100%;
    }
    .our-blog {
        font-size: 58px;
    }
    .date {
        margin: 20px 0;
    }

    .menu-bar .logo {
        width: revert;
        margin: 0 auto;
    }

    .menu-bar .lines {
        margin: 0 auto;
        width: revert;
    }

    .register {
        margin: 0 auto;
    }

    .f-links {
        margin-top: 0;
    }

    .f-contact .mail { 
        margin-left: 0;
    }

    .f-contact {
        display: flex;
        flex-direction: column;
    }
    .f-contact .mail span {
        font-size: 18px;
    }

    .f-social .fcb { 
        width: 50px;
        height: 50px;
    }

    .scroll {
        right: 30px !important;
    }
}

@media (max-width:1024px) {
    .our-blog {
        font-size: 58px;
    }
}